.container{
    
}
.withdrawInput{
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
}

.withdrawLabel{
   display: flex;
   justify-content: space-around;
   font-size: larger;
}

.withdrawButton{
    display: flex;

    justify-content: center;
}