.container {
    background-color: #DBE6FD;
    display: flex;
    align-items: center;
    min-height: 30%;

}

.headerName {

    display: flex;
    font-size: xxx-large;
    font-weight: 900;
    margin-left: 10%;
    font-weight: 900;
}

.logo {
    margin-left: 10%;
    display: flex;
    padding: 1%;
}

