* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: #F0E3CA;
  height: 100vh;
  padding: 2rem;
}