.container{
    
}
.loanInput{

    display: flex;
    gap: 10px;
   
    font-size: 15px;
    padding: 10px;
    
}

.loanLabel{
   display: flex;
   justify-content: space-around;
   font-size: larger;
}

.loanButton{
    display: flex;

    justify-content: center;
}